.container{
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom-color: black;
}

.logo{
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.menu {
    display: flex;
    gap: 20px;
    align-items: center;
}

.searchInput{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border-color: rgb(203 213 225);
    padding: 10px;
}

.icons {
    display: flex;
    gap: 20px;
}